<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
</head>
<body>
<div class="container">
  <h1>Welcome <%= User.find_by(id: session[:user_id]).first_name %> !</h1>
  <p> <%= @user.description %></p>

  <dt>From:</dt>
  <dd><p><%= @user.city.name%></p></dd>
  <dt>Email:</dt>
  <dd><%= @user.email %></dd>
  <dt>Age:</dt>
  <dd><%= @user.age %></dd>
  <p>Total comments : </p></dd<p>
  </div>
  </section>


</body>
</html>