<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
</head>
<style>
.btn-danger {
  background-color: pink;
  border: none;
}
</style>
<body>
<section class="jumbotron text-center">
<div class="container">
  <h1> <%= @gossip.title%> </h1>
  <p> <%= @gossip.context%></p>
  <dt>Author:</dt>
  <dd><p><%= @gossip.user.first_name%></p></dd>
  <dt>From:</dt>
  <dd><p><%= @gossip.user.city.name%></p></dd>
  <p>
  <a class="btn btn-primary my-2" <%= link_to "Author", user_path(@gossip.user), style: "text-decoration: none;" %></a>
  <a class="btn btn-primary my-2" <%= link_to "Edit", edit_gossip_path(@gossip.id), style: "text-decoration: none;" %></a>
  <%= button_to gossip_path(@gossip.id), method: :delete, class: "btn btn-danger",onclick: "return confirm('Are you sure ?');", style: "text-decoration: none;" do %>
    BYE Gossip
  <% end %>
  </p>
  <p>Total comments : <%= @gossip.comments.length%></p></dd<p>
</div>
</section>
<div class="col-md-8 mx-auto">
<%= form_tag gossip_comments_path(@gossip), method: :post, style: "max-width: 600px;" do %>
  <%= label_tag :content, "Drop it, is anonimous" %>
  <%= text_area_tag :content, nil, rows: 1, class: "form-control mb-3" %>
  <%= submit_tag "Comment", class: "btn btn-primary text-center m-3 mr-2 border" %>
<% end %>
</div>


  <div class="row">
    <% @gossip.comments.each_with_index do |comment,index| %>
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin-bottom: 20px;">
          <div class="card-body">
            <h5 class="card-title"><%= index + 1 %> <%= comment.content %></h5>
            <%= link_to 'Edit Comment', edit_gossip_comment_path(@gossip, comment), class: 'btn btn-warning' %>
            <%= button_to gossip_comment_path(@gossip, comment), method: :delete, class: "btn btn-danger", onclick: "return confirm('Are you sure?');" do %>
              BYE Comment
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

</body>
</html>