<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
</head>
<body>

<div class="container">
  <h2 class="text-center mt-5 mb-5">Gossip :</h2>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <dl class="dl-horizontal">
        <dt>Title :</dt>
        <dd><p><%= @gossip.title%></p></dd>
        <dt>Content:</dt>
        <dd><p><%= @gossip.context%></p></dd>
        <dt>Author:</dt>
        <dd><p><%= @gossip.user.first_name%></p></dd>
        <dt>From:</dt>
        <dd><p><%= @gossip.user.city.name%></p></dd>
        <button type="button" class="btn btn-light">
        <%= link_to "Author", user_path(@gossip.user), style: "text-decoration: none;" %>
        <button type="button" class="btn btn-light">
        <%= link_to "Edit", edit_gossip_path(@gossip.id), style: "text-decoration: none;" %>
        <%= button_to gossip_path(@gossip.id), method: :delete, class: "btn btn-danger",onclick: "return confirm('Are you sure ?');", style: "text-decoration: none;" do %>
          BYE Gossip
        <% end %>
      </dl>
    </div>
  </div>
</div>  
</body>
</html>